# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules

# Build
dist
dist-ssr
build

# Env
.env
.env.*
!.env.example

# Local config
*.local

# Test
coverage/

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Other
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?